/*navigation css*/


.navigation {
    display: flex;
    width: 100%;
    padding: 1%;
    margin: 5px;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

.topNav {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #333333; 
  
    
}

.topNav, li {
    align-items: flex-end;
    justify-content: flex-end;
    padding: 1%;
    
}

.topNav li:hover {
    color: #FEBE10;
    text-decoration-line: underline;
    cursor: pointer;

}

.logo {
    display: inline-block;
    width: 100%;
    padding: 1%;
    align-items: flex-start;
}

/*hero image css*/


.heroImg {
    display: grid; 
    width: 1fr, 1fr;
    grid-template-areas: "heroText contentImg";

}

.heroText {
    grid-area: heroText;
    width: 1fr;
    padding: 25px;
    margin: 25px;
    align-items: flex-start;
    justify-content: center;

}



.contentImg {
    grid-area: contentImg;
    width: 1fr;
    padding: 25px;
    margin: 25px;
    align-items: flex-end;
    justify-content: center;
}



h1 {
    font-size: 48px;
    font-family: 'open sans', sans-serif;
    font-weight: 900;
    color: #FEBE10; 

}

h2 {
    font-size: 36px;
    font-family: 'open sans', sans-serif;
    font-weight: 500;
    color: #FEBE10; 
    font-style: italic;
}

h3 {
    font-size: 30px;
    font-family: 'open sans', sans-serif;
    font-weight: 900;
    color: #FEBE10; 
    
}

h4 {
    font-size: 24px;
    font-family: 'open sans', sans-serif;
    font-weight: 200;
    color: #333333; 
}

p {
    font-size: 21px;
    font-family: 'open sans', sans-serif;
    color: #333333; 
}

button {
   font-size: 24px;
   background-color: #333333;
   color: #FEBE10;
   padding: 15px;
   border-radius: 10px 10px 10px 10px;
   border-color: #333333;
   border-style: solid;
   cursor: pointer;
   
}

button:hover {
    background-color: #FEBE10;
    border-color: #FEBE10;
    color: white;
}

.heroButton {
    display: flex;
}

button, .heroButton {
    margin: 15px;
    align-items: center;
    justify-content: center;
}

.heroButton, img {
    margin: 15px;
    align-items: center;
    justify-content: center;
}




/*my ux skills css*/

.flexContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    

}



.uxResearch {
    width: 100%;
    padding: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}



.design {
    width: 100%;
    padding: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.test {
    width: 100%;
    padding: 10px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.mySkills {
    padding: 25px;
  
}
.skillsImg {
    display: flex;
    margin: 5% auto;
    height: 90px;   
}


.skillsImg, img {
    align-items: center;
    justify-content: center;
}

.skillsImg, h3 {
    text-align: center;
}

/*my work css*/

.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "img1 unwind"
    "doed img2"
    "img3 roadrunner";
}


.myWork, h1 {
    padding: 25px;
}

.img1 {
    grid-area: img1;
    padding: 25px;
 
}
.img2 {
    grid-area: img2;
    padding: 25px;
    
}

.img3 {
    grid-area: img3;
    padding: 25px;
}

.fadeMe {
    opacity: 0.7;
}

.unwind {
    grid-area: unwind;
    padding: 25px;
}

.doed {
    grid-area: doed;
    padding: 25px;
}

.roadrunner {
    grid-area: roadrunner;
    padding: 25px;
}

.projectLink {
    text-align: center;
    font-size: 24px;
    color: #BF871F;
 
}

.projectLink:hover {
    text-align: center;
    font-size: 24px;
    color: #FEBE10;
    text-decoration-line: underline;
    cursor: pointer;
 
}

.secondaryButton {
    font-size: 24px;
   background-color: white;
   color: #333333;
   border-color: #333333;
   border-width: 2px solid;
}

.secondaryButton:hover {
   background-color: white;
   color: #FEBE10;
   border-color: #FEBE10;
   border-width: 2px solid;
}

.viewButton {
    display: flex;
}

button, .viewButton {
    align-items: center;
    justify-content: center;
}

/* contact form css */
.form-group {
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 5px;  
}

.form-control {
    border-color: #FEBE10;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    width: 500px;
    font-size: 18px;
    font-family: 'Open Sans' sans-serif; 
    resize: none;
}

.formButton {
    display: flex;
    align-items: center;
    justify-content: center;

}

/*footer CSS*/

footer {
    display: flex;
    background-color: #FEBE10;
    color: WHITE;
    font-weight: 900;
    display: inline-block;
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.footerNav, li {
    text-align: center;
}

.footerNav li:hover {
    color: #333333; 
}

.footerSocial {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    justify-content: center;
}

.copyright {
    font-size: 14px;
    color: white;
    text-align: center;
    justify-content: center;
}

/* media query */
@media only screen and (max-width: 600px){
    .flexContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 0 auto;
        grid-template-columns: 1fr;
        grid-template-areas: "uxResearch"
        "design"
        "test";
    }

    .workGrid {
        display: grid;
        flex-direction: column;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-areas: "img1"
        "unwind"
        "img2"
        "doed"
        "img3"
        "roadrunner";
    }

    .heroImg {
        display: grid;
        flex-direction: column;
        grid-template-columns: 1fr;
        grid-template-areas: "heroText";
        
    }

   .contentImg {
       display: none;
   }

   .heroText {
    background-image: url("../images/julia-mobile.JPG");
    height: 600px;
    padding: 5px;
    margin: 5px;
    
   }

   
    .topNav {
        display: flex;
        flex-direction: row;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        font-size: 21px;
        grid-template-areas: "topNav";
    }

    button {
        font-size: 18px;
        margin-top: 100px;
    }
    
.secondaryButton {
    margin-top: 10px;
    font-size: 18px;
}

    h1 {
        font-size: 30px;
        padding: 10px;

    }

    h2 {
        font-size: 24px;
        padding: 10px;

    }

    p {
        font-size: 16px;
        padding: 10px;
    }
}